:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext-1: #bac2de;
    --subtext-0: #a6adc8;
    --overlay-2: #9399b2;
    --overlay-1: #7f849c;
    --overlay-0: #6c7086;
    --surface-2: #585b70;
    --surface-1: #45475a;
    --surface-0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --bg:                 var(--crust);
    --header-border:      var(--overlay-1);              /* Border below some headers */
    --backdrop:           var(--surface-1);
    --target-bg:          var(--peach);                  /* :target; mostly for headers in the documentation. */
    --loading-text:       var(--lavender);               /* Little … that appears if something takes more than ~300ms to load */

    --link:               var(--blue);                   /* <a> */
    --link-hover:         var(--sky);

    --input-text:         var(--text);                   /* <input>, <select> */
    --input-bg:           var(--bg);
    --input-border:       var(--overlay-1);
    --input-focus:        var(--link);                   /* Outline for focused inputs etc. */
    --fieldset-border:    var(--surface-2);              /* Border around setting boxes on the settings page */
    --form-error-text:    var(--red);
    --input-error-border: var(--maroon);

    --btn-text:          var(--text);                    /* <button> */
    --btn-bg:            linear-gradient(var(--surface-2), var(--surface-0));
    --btn-border:        var(--overlay-2);               /* Default border style */
    --btn-border-outset: var(--overlay-1);               /* Top and left styles for "3D" effect */
    --btn-hover-bg:      linear-gradient(var(--surface-0), var(--surface-2));
    --btn-active-bg:     linear-gradient(var(--surface-1), var(--surface-2));

    --code-text:         var(--text);                    /* <code>, <pre>, etc. */
    --code-bg:           var(--mantle);
    --code-border:       var(--surface-2);               /* <pre> only */

    --tooltip-text:      var(--text);                    /* Tooltips in the charts, some help text, "configure" button */
    --tooltip-bg:        var(--base);
    --tooltip-border:    var(--surface-0);
    --tooltip-shadow:    var(--base);

    --chart-line:        var(--mauve);                   /* Charts on the dashboard */
    --chart-fill:        var(--lavender);
    --chart-grid:        var(--overlay-1);
    --hchart-border:     var(--overlay-1);               /* Colour when you hover the Browsers, Systems, etc. chart bar */
    --hchart-bar:        var(--maroon);
    --hchart-bar-hover:  var(--pink);

    --nav-bg:            var(--mantle);                  /* Navigation at dashboard, settings, and footer */
    --nav-border:        var(--surface-0);
    --footer-shadow:     var(--base);

    --info-bg:           var(--base);                    /* Flash messages */
    --info-border:       var(--sapphire);
    --error-bg:          var(--red);
    --error-border:      var(--maroon);

    --event-bg:          var(--base);                    /* "Event" label in paths overview */
    --pageviews-text:    var(--subtext-1);               /* Grey out "pageviews" in tooltip. */

    --datapicker-border:             var(--surface-0);   /* Datepicker on dashboard (non-mobile only). */
    --datepicker-shadow:             var(--base);
    --datepicker-dayname-text:       var(--overlay-0);
    --datepicker-day-text:           var(--subtext-1);
    --datepicker-day-bg:             var(--surface-2);
    --datepicker-day-hover-bg:       var(--peach);
    --datepicker-today-text:         var(--sky);
    --datepicker-selected-shadow:    var(--sapphire);
    --datepicker-selected-text:      var(--blue);
    --datepicker-future-text:        var(--crust);
    --datepicker-future-bg:          var(--subtext-1);
    --datepicker-outside-month-text: var(--crust);

    --text-table-even-bg:      var(--mantle);            /* Styles for pages overview with the chart style set to "text" */
    --text-table-border:       var(--overlay-0);
    --text-table-rank-text:    var(--subtext-0);
    --text-table-chart-bg:     var(--base);
    --text-table-chart-border: var(--overlay-0);

    --widget-border:           var(--overlay-0);         /* "Widget settings" page */
    --widget-dragging-border:  var(--yellow);
    --widget-dragging-bg:      var(--mantle);
    --widget-handle-bg:        var(--overlay-2);
    --widget-handle-text:      var(--subtext-1);
    --widget-handle-hover-bg:  var(--surface-0);

    --box-bg:                  var(--surface-2);         /* Signup box on the homepage, footer */
    --box-shadow:              var(--overlay-0);         /* box-shadow on most boxes on the homepage, /help page navigation, etc. */
}

.hchart .bar-c {
  color: var(--mantle);
}

