/* Copyright © 2019 Martin Tournoij <martin@arp242.net>
   This file is part of GoatCounter and published under the terms of the EUPL
   v1.2, which can be found in the LICENSE file or at http://eupl12.zgo.at */

.page    { padding: 1em; }
footer   { padding: 1em; text-align: center; display: flex; justify-content: space-between;
	       background-color: #f6f3da; box-shadow: 0 0 4px #cdc8a4; }
footer a { font-weight: bold; color: #252525; margin: 0 .5em; }

@media (max-width: 54em) {
	footer      { text-align: left; justify-content: space-around; }
	footer a    { display: block; padding: .5em 0; }
	footer span { display: none; }
}

/* Don't make various explanatory texts too wide. */
.page > p, .page > div > p,
.page > ul, .page > div > ul,
.page > ol, .page > div > ol,
.page > table,
.form-max-width label, .form-max-width textarea, .form-max-width input {
	max-width: 50em;
}
.form-max-width label { display: inline-block; }

#trial-expired { position: fixed; bottom: 0; left: 0; right: 0; text-align: center;
                 background-color: #fff0f0; border-top: 1px solid #f00; }

#js-settings, #js-csrf { display: none; }

.page, .center {
	/* .note has a width of 76mm plus 5mm margin on either side, so 86mm total
	 * width. .page has a 1em padding on either side.
	 * The last 10mm is needede because magic (1mm will work, this just looks
	 * more even). */
	max-width: calc((1em * 2) + (86mm * 4) + 10mm);
}

nav {
	display: flex;
	justify-content: space-between;
	padding-right: .5em;
}
nav .updates { font-weight: bold; background-color: yellow; }

h2 sup, h2 small {
	font-size: .9rem;
	font-weight: normal;
}

h3, h4     { margin-bottom: 0; }
h3+p, h4+p { margin-top: 0; }
h3.border  { border-bottom: 1px solid #666; margin-bottom: .2em; }

form .err  { color: red; display: block; }

@media (min-width: 55rem) {
	.form-wrap form          { display: flex; flex-wrap: wrap; }
	.form-wrap form fieldset { width: 48%; }
}

.flash {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #fff;
	margin-bottom: 1em;
}
.flash p   { max-width: none !important; }
.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
.flash-i {
	background-color: #c9f0ff;
	border-color: #a1a1ff;
}
.flash-e {
	background-color: #fff0f0;
	border-color: #f00;
}


/*** Pages list ***/
.count-list td           { vertical-align: top; }
.count-list td.generated { font-style: italic; }

.count-list td:first-child {  /* Count */
	text-align: right;
	width: 5em;
}
.count-list td[colspan="3"] {  /* "nothing to display" */
	text-align: left;
	width: auto;
}

.count-list td:nth-child(2) {  /* Path */
	width: 20em;
}
.count-list.count-list-refs td:nth-child(2) {
	width: auto;
	word-break: break-all; /* don't make it wider for very long urls */
}

.label-event { background-color: #f6f3da; border-radius: 1em; padding: .1em .3em; }

/* Otherwise .page-title has different vertical alignment? Hmmm... */
.show-mobile .page-title { vertical-align: top; }
.show-mobile .page-title+sup { bottom: 2ex; }

/* Ideally I'd like the … to be in the centre, rather than at the end. Need JS
 * solution for that though :-/ */
.rlink { display: inline-block; overflow: hidden;
         max-width: 17.5rem; text-overflow: ellipsis; white-space: nowrap; }
.rlink { min-width: 3em; } /* Make very short paths (like just /) easier to click/touch. */
.page-title b, .rlink b { background-color: yellow; }

.count-list tr {
	border: none;
}

.count-list tr:target,
.count-list tr.target {
	background-color: inherit;
}

.count-list tr:target > td:nth-child(2) .rlink,
.count-list tr.target > td:nth-child(2) .rlink {
	font-weight: bold;
	border-bottom: 4px solid yellow;
}

/*** Pages header (filter, time period select, etc.) ***/
.period-form-date            { margin-bottom: 1.5em; }
.period-form-date .date      { padding: .5em 1em; background-color: #f8f8d9; border: 1px solid #dede89; border-radius: 2px; }
.period-form-date .date span { margin-left: .5em; }
.period-form-date input[type="text"]     { width: 9em; text-align: center; }
.period-form-date input[type="checkbox"] { vertical-align: middle; }
.period-form-move            { display: flex; justify-content: space-between; padding: .2em; }

@media (max-width: 62.5rem) {
	.period-form-select          { display: block; }
	.period-form-date .date span { margin-left: .1em; margin-top: .5em; }
}

@media (max-width: 41rem) {
	.period-form-date .date span:first-child { display: block; }
}

@media (max-width: 30rem) {
	.period-form-date .date button {
		margin: 0; margin-left: -1px;
	}
}


.period-day [value=day],
.period-week [value=week],
.period-month [value=month],
.period-quarter [value=quarter],
.period-half-year [value=half-year],
.period-year [value=year],
.period-week-cur [value=week-cur],
.period-month-cur [value=month-cur] {
	font-weight: bold;
	text-decoration: underline;
}

.count-list-opt input[type="text"] { width: 9em; text-align: center; }

/*** Charts ***/
.chart {
	border: 1px solid #ccc;
	height: 50px;
	margin: 5px 0;
	width: 100%;
	position: relative;
}
/* Add a bit extra space between the charts, mostly so it's clearer where the
 * .max belongs to when you're scrolled down. */
@media (min-width: 55rem) {
	.chart { margin-bottom: 1em; }
}

.chart > .top {
	font-size: 13px;
	line-height: 1;
	position: absolute;
	top: -1.2em;
}
.chart > .go  { left: .2em; }
.chart > .max { right: .2em; }

/* Bar char */
.chart-bar {
	display: flex;
	align-items: flex-end;
}
.chart-bar > .half {
	border-top: 1px solid #ddd;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.chart-bar > div {
	position: relative;
	flex-grow: 1;
}

/* Chart colours
 * TODO: color scheme setting?
#77f / #99f
#db1212 / #6b1818
*/
.chart-bar > div       { background: #9a15a4; }
.chart-bar > div:hover { background: #d314e1 !important; }

.chart-hbar span         { background: #9a15a4; }
.chart-hbar a:hover span { background: #b11abc; }

.chart-bar > div > div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	/*
	border: 1px solid #db1212;
	border-bottom: 0;
	background-color: #fff;
	*/

}
.chart-bar > div:hover  { background-color: #aaa; }
.chart-bar > .f         { background-color: #eee; }

#popup {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	font-family: sans-serif;

	padding: 0 .5em;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#drag-box {
	position: absolute;
	background-color: #99f;
	opacity: .5;
}

.hide        { display: none; }
.show-mobile { display: none; }
@media (max-width: 55rem) {
	.hide-mobile { display: none; }
	.show-mobile { display: block; }
}

/* Using display: none means it's ignored by Safary when pressing Enter. */
button.hide-btn { overflow: visible; height: 0; width: 0; margin: 0; border: 0; padding: 0; display: block; }

fieldset { margin-bottom: 1em; border: 1px solid #666; }
legend   { font-weight: bold; }

select#timezone { max-width: 20rem; }

.active { font-weight: bold; text-decoration: underline; }

/* Break to new flexbox row. */
.flex-break { flex-basis: 100%; height: 0; }

table.auto { width: auto; }

.browser-charts          { display: flex; flex-wrap: wrap; justify-content: space-between; }
.browser-charts > div    { width: 49%; }
.browser-charts h2 small { float: right; font-variant-ligatures: none; font-feature-settings: 'liga' off, 'dlig' off; }

@media (max-width: 45rem) {
	.browser-charts       { display: block; }
	.browser-charts > div { width: auto; }
}

.chart-hbar a, .chart-hbar > p {
	position: relative;
	margin: 0;
	margin-bottom: .3em;
	display: block;
	font-size: 1rem;

	color: #252525;
}
.chart-hbar a:hover { text-decoration: none; color: #555; }
.chart-hbar small {
	display: block;
	font-size: 1rem;
}
.chart-hbar span {
	display: inline-block;
	color: #fff;
	padding: .1em .5em;

	/* So the text is readable if it's smaller than the chart.
	 * TODO: It's 'good enough' for now, but I am not too happy with this. */
	text-shadow: 2px 1px rgba(0, 0, 0, .5);
}

/* Don't make things appear clickable that aren't */
.chart-hbar.hbar-detail > *            { cursor: default; }
.chart-hbar.hbar-detail > *:hover span { background-color: #9a15a4;  }
.chart-hbar.hbar-detail > *:focus      { outline: none; }
.chart-hbar > *[title^="(other): "],       .chart-hbar > *[title^="(unknown): "]       { cursor: default; font-style: italic; }
.chart-hbar > *[title^="(other): "]:hover, .chart-hbar > *[title^="(unknown): "]:hover { color: #252525; }
.chart-hbar > *[title^="(other): "]:hover span, .chart-hbar > *[title^="(unknown): "]:hover span { background-color: #9a15a4; }
.chart-hbar > *[title^="(other): "]:focus, .chart-hbar > *[title^="(unknown): "]:focus { outline: none; }

.hchart-wrap { position: relative; }
.hbar-open   { opacity: .25; background-color: #ddd; }

.hbar-detail {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	z-index: 2;  /* Make sure it's over the footer */
	border-left: 1px solid #ddd;
	width: 75%;
	padding-left: .25em;
}
.hbar-detail .arrow {
	content: " ";
	display: block;
	position: absolute;
	left: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #aaa;
}
.hbar-detail .close {
	position: absolute;
	left: -1em;
	top: -1em;
	border-radius: 9999px;
	background-color: #ccc;
	width: 1.5em;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
}
.hbar-detail .close:hover {
	background-color: #ddd;
}


/*** Settings tabs ***/
.tab-nav {
	padding: 1em;
	background-color: #f8f8d9;
	border: 1px solid #dede89;
	border-radius: 2px;
	justify-content: left;
}
.tab-nav a             { padding: 0 .9em; border-right: 1px solid #aaa; }
.tab-nav a:first-child { padding-left: 0; }
.tab-nav a:last-child  { border-right: none; padding-right: 0; }

/*** noscript ***/
noscript   { display: block; padding: .4em; text-align: center; background-color: #ffcfcf; border-bottom: 1px solid #f88; }
noscript p { margin: .5em; }

/*** Billing ***/
#billing-form .plan span            { display: inline-block; min-width: 8em; }
#billing-form fieldset legend+p     { margin-top: 0; }
#billing-form fieldset p:last-child { margin-bottom: 0; }
#stripe-error                       { color: red; }

/*** Updates overview ***/
.update p        { margin-left: 2em; }
.update > em + p, .update > em + strong + p { margin-top: 0; }
.update-new      { background-color: yellow; padding: 0 .3em; }

/*** Pages header ***/
header h2 { border-bottom: 0; display: inline; }
header.h2 { border-bottom: 1px solid #252525; padding-bottom: .2em; margin: 1em 0; }

.header-pages         { display: flex; font-size: .9rem; }
.header-pages h2      { margin: 0; margin-right: 1em; display: none; }
.header-pages span    { margin-left: 0; }
.header-pages .totals { flex-grow: 1; }
.header-pages input#filter-paths,
.header-pages select#display { padding: .2em; margin-right: 1em; }
.header-pages input.value { background-color: yellow; }

@media (max-width: 30rem) {
	.header-pages input#filter-paths { max-width: 10em; }
}

h3 + h4 { margin-top: .3em; }

.reftable { margin-top: 1em; }
.table-left th { text-align: left; }
