/* Copyright © 2019 Martin Tournoij – This file is part of GoatCounter and
   published under the terms of a slightly modified EUPL v1.2 license, which can
   be found in the LICENSE file or at https://license.goatcounter.com */

.page, .center { max-width: 60em; }
hr             { margin: 1em 0; }
u              { text-decoration: none; box-shadow: inset 0 -.175em yellow, inset 0 -.2em #eee; }

.cbox { box-shadow: 0 0 4px #cdc8a4; background-color: #f6f3da; color: #252525; }

footer   { padding: 1em; text-align: center; display: flex; justify-content: space-between; }
footer a { font-weight: bold; color: #252525; margin: 0 .5em; }

@media (max-width: 54em) {
	footer      { text-align: left; justify-content: space-around; }
	footer a    { display: block; padding: .5em 0; }
	footer span { display: none; }
}

/* TODO: bit of a temporary solution to make sure all links are visible with the
 * "chat bubble" from intergram. I'd like to redesign that entire thing, but ...
 * right now also a lot of other stuff to do, so this will have to do. */
footer                   { display: block; }
footer > div:first-child { margin-bottom: 1em; }

.page { position: relative; }

/*** Home page ***/
.page-home          { padding: 0; box-shadow: none; background-color: transparent; }
.page-home h1       { margin-top: 1em; font-size: 2em; }
.page-home *:target { background-color: inherit; }
.page-home h2       { border-bottom: 0; text-align: center; font-size: 2rem; margin-top: 5rem; }

.hlink       { font-weight: bold; }
.hlink:hover { text-decoration: none; background-color: #fffded; color: #252525; }
.hlink img   { vertical-align: middle; margin: 0 5px; height: 1.1em; }

/*** Home top ***/
#home-top        { padding: 0 1em; margin-bottom: 3rem; }

/* Intro text */
#home-intro        { margin: 1em 0; text-align: center; max-width: 40em; margin: 0 auto; margin-bottom: 4em; }
#home-intro strong { font-weight: normal; font-size: 1.8em; line-height: 1.5em; }
#home-intro em     { box-shadow: inset 0 -.175em yellow, inset 0 -.2em #eee; }
#home-intro a      { font-size: 1rem; margin-top: -2em; }
#home-intro p      { text-align: center; }

/* Login button */
#home-login       { text-align: center; }
#home-login .cbox { padding: 1em 3em; }
#home-login p     { font-size: .8em; margin-top: 1.3em; }

/* Live demo and screenshots */
#home-screens     { text-align: center; margin-top: 1em; }
#home-screens p   { width: 100%; margin-bottom: 3em; font-weight: bold; }
#home-screens p a { padding: .3em 1em; border-bottom: 3px solid yellow; transition: color, border .2s; }
#home-screens p a:hover { text-decoration: none; border-bottom: 3px solid #6491ff; }
/*
#home-screens a { box-shadow: inset 0 -.175em yellow, inset 0 -.2em #eee; }
*/

#home-screens img     { box-shadow: 0 0 6px rgba(0,0,0,.2); }
@media (min-width: 45rem) {
	#home-screens     { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
	#home-screens img { width: 49%; }
}
@media (max-width: 45rem) {
	#home-screens img { margin-bottom: 1em; }
}

img.imgzoom-loading { cursor: wait !important; }
.imgzoom-large { cursor: pointer; box-shadow: 0 0 8px rgba(0, 0, 0, .3); transition: all .4s; }

/*** Home pricing ***/
#home-pricing        { display: flex; justify-content: space-between; text-align: center; align-items: flex-start; }
#home-pricing >div   { box-shadow: 0 0 6px rgba(0,0,0,.2); background-color: #fff; width: calc(25% - .5em); }
#home-pricing h3     { margin: .5em 0; }
#home-pricing ul     { list-style: none; padding: 0; line-height: 2.5em; }
#home-signup         { text-align: center; margin-top: 2em; }
#home-signup a       { padding: 1em; display: block; width: 30%; margin: auto; }
#home-pricing-custom { text-align: center; margin-top: 1em; }

@media (max-width: 50rem) {
	#home-pricing      { flex-wrap: wrap; justify-content: center; }
	#home-pricing >div { width: 45%; margin: 1em; }
}
@media (max-width: 37rem) {
	#home-pricing >div        { margin-bottom: 1em; width: 100%; }
	#home-pricing >div .empty { display: none; }
	#home-pricing ul          { line-height: 2em; }
	#home-pricing h3          { padding-top: .5em; }
	#home-signup a            { width: auto; }
}

#home-pricing-faq      { font-size: .9rem; }
#home-pricing-faq h3   { margin-bottom: 0; text-align: center; }
#home-pricing-faq dt   { text-align: center; }
#home-pricing-faq dt a { display: none; }
#home-pricing-faq dl   { max-width: 50em; margin: 0 auto; text-align: center; }
#home-pricing-faq dt   { display: inline; font-weight: normal; color: #00f; transition: color .2s; cursor: pointer; }
#home-pricing-faq dt:hover { text-decoration: underline; color: #6491ff; }
#home-pricing-faq dd   { background-color: #fff; padding: .4em 1em; padding: 0; margin: 0; overflow: hidden; height: 0; text-align: left; }

/*** Home features ***/
#features          { margin-top: 3rem; }
#home-features div { display: flex; justify-content: space-between; }
#home-features p   { width: 49%; padding: .5em 1em; background-color: #fff; box-shadow: 0 0 6px rgba(0,0,0,.2); }
#home-features div:first-child p { margin-top: 0; }
#home-features strong { box-shadow: inset 0 -.175em yellow, inset 0 -.2em #eee; }
#home-features code   { font-size: 10px; white-space: pre-wrap; }

@media (max-width: 45rem) {
	#home-features div { flex-wrap: wrap; }
	#home-features p   { width: 100%; margin-top: .5em; }
	#home-features div:first-child p { margin-top: .5em; }
}


/*** Signup page ******/
#signup-intro {
	text-align: center;
	font-size: 1em;
}
#signup-form {
	background-color: #f7f7f7;
	padding: 1em;
	box-shadow: 0 0 4px #cdc8a4;
}

#signup-form fieldset.two {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 1em;
}
@media (min-width: 45rem) {
	/* Extra div needed because Chrome doesn't support flexbox on fieldsets :-/ */
	#signup-form fieldset.two > div       { display: flex; justify-content: space-between; }
	#signup-form fieldset.two > div > div { width: 50%; }
}

form.vertical .err  { color: red; display: block; }
form.vertical .help { font-size: 14px; margin-bottom: 1.2em; }

/*** Help page ***/
dt { font-weight: bold; margin-top: 1em; }

.flash {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #fff;
	margin-bottom: 1em;
}
.flash p   { max-width: none !important; }
.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
.flash-i {
	background-color: #c9f0ff;
	border-color: #a1a1ff;
}
.flash-e {
	background-color: #fff0f0;
	border-color: #f00;
}

/*** Contribute page ***/
#donate-form          { text-align: center; }
#donate-form .buttons { display: flex; flex-wrap: wrap; justify-content: space-around; margin-bottom: 2em; }
#donate-form .amount  { font-weight: bold; padding: 1em 2em; font-size: 1.3em; }
#donate-form button   { border: none; box-shadow: 0 0 4px #cdc8a4; background: #f6f3da; color: #252525; }
#donate-form .custom  { font-size: .9em; margin-bottom: 2em; }
#donate-form span     { font-size: .9em; }
#donate-form input    { width: 5em; }
#stripe-error         { color: red; }
@media (max-width: 35rem) {
	#donate-form .buttons button { width: 45%; margin-top: 1em; }
}


/*** Documents ***/
#docs-list    { text-align: center; }
#docs-list ul { list-style: none; margin: 0; padding: 0; height: 4em;
	            display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; }
@media (max-width: 35rem) {
	#docs-list ul { height: auto; }
}

/* Force inputs to be 16px, so that iPhone won't zoom on select, which is
 * super annoying and 100% pointless.
 * https://stackoverflow.com/a/16255670/660921 */
@supports (-webkit-overflow-scrolling: touch) {
	input, select, textarea { font-size: 16px !important; }
}
