/* Copyright © 2019 Martin Tournoij – This file is part of GoatCounter and
   published under the terms of a slightly modified EUPL v1.2 license, which can
   be found in the LICENSE file or at https://license.goatcounter.com */

/*** Generic stuff and layout
 ****************************/
.page    { padding: 1em; }
footer   { padding: 1em; text-align: center; display: flex; justify-content: space-between;
	       background-color: #f6f3da; box-shadow: 0 0 4px #cdc8a4; }
footer a { font-weight: bold; color: #252525; margin: 0 .5em; }

@media (max-width: 54em) {
	footer      { text-align: left; justify-content: space-around; }
	footer a    { display: block; padding: .5em 0; }
	footer span { display: none; }
}

/* Don't make various explanatory texts too wide. */
.page > p, .page > div > p,
.page > ul, .page > div > ul,
.page > ol, .page > div > ol,
.page > table,
.form-max-width label, .form-max-width textarea, .form-max-width input {
	max-width: 50em;
}
.form-max-width label { display: inline-block; }

#trial-expired { position: fixed; bottom: 0; left: 0; right: 0; text-align: center;
                 background-color: #fff0f0; border-top: 1px solid #f00; z-index: 1; }

#js-settings, #js-csrf { display: none; }

.page, .center {
	/* .note has a width of 76mm plus 5mm margin on either side, so 86mm total
	 * width. .page has a 1em padding on either side.
	 * The last 10mm is needede because magic (1mm will work, this just looks
	 * more even). */
	max-width: calc((1em * 2) + (86mm * 4) + 10mm);
}

nav {
	display: flex;
	justify-content: space-between;
	padding-right: .5em;
}
nav .updates { font-weight: bold; background-color: yellow; }
nav #signin  { white-space: nowrap; margin-left: 1em; }
nav #back    { white-space: nowrap; margin-right: 1em; }

h2            { margin-bottom: .4em; }
h2 small      { font-size: .9rem; font-weight: normal; margin-right: .1em; line-height: 1rem; }
h2.full-width { margin-left: .4em; margin-right: .4em; padding-right: .2em;
				display: flex; justify-content: space-between; align-items: flex-end; }

h3, h4     { margin-bottom: 0; }
h3+p, h4+p { margin-top: 0; }
h3.border  { border-bottom: 1px solid #666; margin-bottom: .2em; }

form .err  { color: red; display: block; }

span.red  { color: red; }
input.red { border: 1px solid red !important; }

@media (min-width: 55rem) {
	.form-wrap form          { display: flex; flex-wrap: wrap; }
	.form-wrap form fieldset { width: 48%; }

	.flex-form          { display: flex; flex-wrap: wrap; }
	.flex-form form     { width: 48%; }
	.flex-form fieldset { height: 100%; }
}

.flash {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #fff;
	margin-bottom: 1em;
}
.flash p   { max-width: none !important; }
.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
.flash-i {
	background-color: #c9f0ff;
	border-color: #a1a1ff;
}
.flash-e {
	background-color: #fff0f0;
	border-color: #f00;
}

.screen-reader { display: none; }
.hide          { display: none; }
.show-mobile   { display: none; }
@media (max-width: 55rem) {
	.hide-mobile { display: none; }
	.show-mobile { display: block; }
}

/* Using display: none means it's ignored by Safary when pressing Enter. */
button.hide-btn { overflow: visible; height: 0; width: 0; margin: 0; border: 0; padding: 0; display: block; }

fieldset               { margin-bottom: 1em; border: 1px solid #666; }
legend                 { font-weight: bold; }
fieldset:target legend { background-color: yellow; }

select#timezone { max-width: 20rem; }

.active { font-weight: bold; text-decoration: underline; }

/* Break to new flexbox row. */
.flex-break { flex-basis: 100%; height: 0; }

table.auto { width: auto; }

/* Otherwise .page-title has different vertical alignment? Hmmm... */
.show-mobile .page-title { vertical-align: top; }

.rlink { display: inline-block; overflow: hidden;
         max-width: 17.5rem; text-overflow: ellipsis; white-space: nowrap; }
.rlink { min-width: 3em; } /* Make very short paths (like just /) easier to click/touch. */
.page-title b, .rlink b { background-color: yellow; }
input.value             { background-color: yellow; }

/* Hide "Go to [..]" link unless we loaded the page details. */
small.go           { display: none; }
.go { word-break: normal; }


/*** Pages and totals list/charts
 ********************************/
.pages-list h2           { margin-top: .5em; }
.count-list tr           { border: none; }
.count-list td           { vertical-align: top; }
.count-list th           { text-align: left; }
.count-list .col-count   { width: 5rem; text-align: right; }
.count-list .col-path    { width: 20rem; }
.label-event             { background-color: #f6f3da; border-radius: 1em; padding: .1em .3em; }
.count-list td[colspan="3"] {  /* "nothing to display" */
	text-align: left;
	width: auto;
}
.pages-list:not(.pages-list-text) >.load-more { display: block; margin-top: -.7em; width: max-content; }

.count-list tr:target,
.count-list tr.target             { background-color: inherit; }
.count-list tr:target .load-refs,
.count-list tr.target .load-refs  { font-weight: bold; border-bottom: 4px solid yellow; }
tr.target small.go                { display: inline-block; }

/* Border doesn't affect layout. */
.count-list:not(.count-list-text) .load-refs { border-bottom: 4px solid transparent; margin-bottom: -4px; }

.chart { position: relative; border: 1px solid #ccc; height: 50px; width: 100%; margin: 5px 0; margin-bottom: 1em; }

.chart-left {
	position: absolute; left: -1.2em; top: -.1em; padding: 0 .1em; font-size: 1.2rem; text-align: center; background-color: #fff;
	display: none; margin-right: 0;
}
.chart-left a:hover { text-decoration: none; }

tr:hover .chart-left,
tr.target .chart-left { display: block; }

.chart-right { position: absolute; right: .4em; top: -.8em; padding: 0 .1em; font-size: 1.2rem;
	           text-align: center; background-color: #fff; }
.page-n      { color: #555; font-size: .8em; }

.chart-bar             { display: flex; align-items: flex-end; }
.chart-bar > div       { position: relative; flex-grow: 1; background: #9a15a4; }
.chart-bar > div > div { position: absolute; left: 0; bottom: 0; width: 100%; }
.chart-bar > .f        { background-color: #eee; }
.chart-bar > .half     { border-top: 1px solid #ddd; position: absolute; top: 50%; left: 0; right: 0; }
.chart-bar > #cursor   { position: absolute; top: 0; bottom: 0; background: rgba(0, 0, 0, .2); }


/*** Text pageviews
 ******************/
.count-list-text .rlink { display: inline; white-space: normal; } /* Reset overflow */
.count-list-text td     { padding: .5em; }

.count-list-text tbody tr           { border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea; }
.count-list-text tr:nth-child(even) { background-color: #fafafa; }

.count-list-text .col-idx { width: 1em; color: #555; }
.count-list-text .col-n   { text-align: right; width: 1em; } /* Hint to make the column as small as possible */
.count-list-text .col-d   { width: 12em; font-size: 1.2em; padding: 0; vertical-align: middle; text-align: center; }
.count-list-text .col-d span { padding-top: 2px; border-radius: 2px; border: 1px solid #e9e9e9;
							   color: #9a15a4; background-color: #f9f9f9; }


/*** Horizontal charts
 ********************/
.hcharts            { display: flex; flex-wrap: wrap; justify-content: space-between; }
.hcharts > div      { width: 49%; }
@media (max-width: 45rem) {
	.hcharts       { display: block; }
	.hcharts > div { width: auto; }
}

.hchart .rows >div   { position: relative; margin-bottom: .8em; }
.hchart .generated .col-name { font-style: italic; }
.hchart .col-name    { display: inline-block; width: calc(100% - 8.5rem); position: relative; }
.hchart .cutoff      { word-break: break-all; max-width: calc(100% - 2em); }
.hchart .bar         { position: absolute; top: 0; bottom: 0; background-color: #fbc7ff; }
.hchart .bar-c       { position: relative; z-index: 1; padding-left: .5rem; display: block; }
.hchart .col-count   { display: inline-block; width: 4.5rem; text-align: right; vertical-align: top; }
.hchart .col-perc    { width: 2.5em; margin-right: .5rem; vertical-align: top; }
.hchart .load-more   { display: inline-block; margin-left: .2em; margin-top: .2em; }
.hchart .load-detail { display: block; color: #252525; }
.hchart .detail      { padding: 0 3em; border-bottom: 1px solid #bbb; }
.load-detail:hover      { text-decoration: none; background-color: #eee; }
.load-detail:hover .bar { background-color: #ebb7ef; }
.hchart .not-collected { text-align: center; padding-bottom: .4em; font-style: italic; }


/*** Dashboard form (filter, time period select, etc.)
 ******************************************************/
#dash-move        { display: flex; justify-content: space-between; align-items: start; padding: .2em; }
#dash-form        { display: block; padding-bottom: .4em; }
#dash-form span   { margin-left: 0; } /* Reset from hello-css */

#dash-saved-views       { position: absolute; top: .2em; right: .3em; z-index: 5; max-width: 30em; text-align: right; }
#dash-saved-views >span { font-size: 20px; padding: .2em; cursor: pointer;
	                      user-select: none; -webkit-user-select: none; color: #00f; transition: opacity .2s; }
#dash-saved-views >div  { display: none; margin-right: .5em; padding: .5em; text-align: left;
						  background-color: #f6f6f6; color: #000; border: 1px solid #ddd; box-shadow: 0 0 2px #aaa; }
#dash-saved-views >span:hover { opacity: .5; }

@media (max-width: 36.5rem) {
	#dash-move span           { display: block; }
	#dash-move div:last-child { display: flex; flex-direction: column-reverse; text-align: right; align-items: end; }
}

#dash-main { display: flex; justify-content: space-between; padding: .5em 1em;
             background-color: #f8f8d9; border: 1px solid #dede89; border-radius: 2px; }
#dash-main input[type="text"]     { padding: .3em; }
#dash-main input[type="checkbox"] { vertical-align: middle; }
#filter-paths                     { width: 18.5em; display: block; }
#dash-main .date-input            { width: 9em; text-align: center; }

.filter-wrap                 { position: relative; text-align: right; }
.filter-wrap .loading::after { position: absolute; bottom: 0; right: .5em; }

#dash-main label { text-align: right; margin-right: .4em; }

#dash-select-period           { display: block; padding-left: .3em; }
#dash-select-period span+span { margin-left: .5em; }

#dash-timerange { background-color: #f8f8d9; border: 1px solid #dede89; text-align: center;
	              padding: 0 .4em; padding-top: 2px; border-top: 0; margin-top: -4px;
	              border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }

@media (max-width: 56.5rem) {
	/* Break "current [..]" to new line to make more space. */
	#dash-select-period span+span { display: block; margin-left: 0em; }
	#dash-main label              { display: block; }
}

@media (max-width: 41rem) {
	#filter-paths  { width: 10em;  }
}

@media (max-width: 33.5rem) {
	#dash-main       { display: block; }
	#filter-paths    { width: 100%; margin-top: .5em; }
	#dash-main label { text-align: left; }
}

.period-day [value=day],
.period-week [value=week],
.period-month [value=month],
.period-quarter [value=quarter],
.period-half-year [value=half-year],
.period-year [value=year],
.period-week-cur [value=week-cur],
.period-month-cur [value=month-cur] {
	font-weight: bold;
	text-decoration: underline;
}

/*** Tooltip
 ************/
#tooltip { position: absolute; left: 0; top: 0; padding: .2em .5em; font-size: 14px;
		   font-family: sans-serif; color: #000; background-color: #f6f6f6; box-shadow: 0 0 2px #aaa; }
#tooltip .views { color: #7a7a7a; } /* Grey out "pageviews" in tooltip. */


/*** Settings tabs
 ******************/
.tab-nav               { padding: 1em; justify-content: left; border-radius: 2px;
						 background-color: #f8f8d9; border: 1px solid #dede89; }
.tab-nav a             { padding: 0 .9em; border-right: 1px solid #aaa; }
.tab-nav a:first-child { padding-left: 0; }
.tab-nav a:last-child  { border-right: none; padding-right: 0; }
@media (max-width: 40rem) {
	.tab-nav   { flex-wrap: wrap; justify-content: center; }
	.tab-nav a { line-height: 2.5em; }
}

/*** Widget settings
 *******************/
.widget                { position: relative; margin-bottom: .5em; padding: .5em; padding-left: 2.5em;
						 border: 1px solid #d6d6d6; background-color: #fafafa; }
.widget-save           { display: flex; justify-content: space-between; }
.widget-settings label { display: inline-block; min-width: 9em; margin-bottom: 1em; }
.widget-settings       { margin-left: 2em; }
.widget-settings .help { margin-left: 1em;  }
.widget-settings br:last-child { display: none; }

@media (max-width: 46rem) {
	.widget-settings label { display: block; margin-bottom: 0; }
	.widget-settings .help { display: block; margin-left: .2em; }
}

.drag-handle {
	position: absolute; top: 0; left: 0; width: 2em; height: 100%; cursor: move; text-align: center; margin-left: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}
.drag-handle:hover { background-color: #ddd; }

/* Dragula */
.gu-mirror       { position: fixed !important; z-index: 9999 !important; opacity: 0 !important; }
.gu-hide         { display: none !important; }
.gu-unselectable { user-select: none; -webkit-user-select: none; }
.gu-transit      { outline: 3px dashed yellow; background-color: lightyellow; }


/*** noscript
 *************/
noscript   { display: block; padding: .4em; text-align: center; background-color: #ffcfcf; border-bottom: 1px solid #f88; }
noscript p { margin: .5em; }


/*** Billing
 *************/
#billing-form fieldset legend+p     { margin-top: 0; }
#billing-form fieldset p:last-child { margin-bottom: 0; }
#stripe-error                       { color: red; }

#billing-form center { margin-top: 2em; }
#home-pricing        { border: none; padding: 0; }
#home-pricing input  { display: none; }
#home-pricing input:checked+label { background-color: #f7f7f7; }

/* Copy from style.css */
.cbox                { box-shadow: 0 0 4px #cdc8a4; background-color: #f6f3da; color: #252525; }
#home-pricing >span  { display: flex; justify-content: space-between; text-align: center; align-items: flex-start; }
#home-pricing label  { box-shadow: 0 0 4px #cdc8a4; background-color: #fff; width: calc(25% - .5em); }
#home-pricing h3     { margin: .5em 0; }
#home-pricing ul     { list-style: none; padding: 0; line-height: 2.5em; }
#home-signup         { text-align: center; margin-top: 2em; }
#home-signup a       { padding: 1em; display: block; width: 30%; margin: auto; }
#home-pricing-custom { text-align: center; margin-top: 1em; }

@media (max-width: 50rem) {
	#home-pricing >span { flex-wrap: wrap; justify-content: center; }
	#home-pricing label { width: 45%; margin: 1em; }
}
@media (max-width: 37rem) {
	#home-pricing label        { margin-bottom: 1em; width: 100%; }
	#home-pricing label .empty { display: none; }
	#home-pricing ul           { line-height: 2em; }
	#home-pricing h3           { padding-top: .5em; }
	#home-signup a             { width: auto; }
}

#home-pricing-faq      { font-size: .9rem; }
#home-pricing-faq h3   { margin-bottom: 0; text-align: center; }
#home-pricing-faq dl   { max-width: 50em; margin: 0 auto; text-align: center; }
#home-pricing-faq dt   { text-align: center; margin: .2em 0; font-weight: normal; color: #00f; transition: color .2s; cursor: pointer; }
#home-pricing-faq dt a { display: none; }
#home-pricing-faq dt:hover { text-decoration: underline; color: #6491ff; }
#home-pricing-faq dd   { background-color: #fff; padding: .4em 1em; padding: 0; margin: 0; overflow: hidden; height: 0; text-align: left; }
@media (max-width: 37rem) {
	#home-pricing-faq dt { margin: .5em 0; }
}

/* End copy */



/*** Updates overview
 **********************/
#page-updates .page       { background-color: #eee; box-shadow: none; }
.update, #page-updates h1 { margin: 1em 0; padding: .5em; background-color: #fff; box-shadow: 0 0 6px rgba(0,0,0,.2); }
.update p                 { margin-left: 2em; }
.update > em + p, .update > em + strong + p { margin-top: .5em; }
.update pre               { max-width: 50em; margin-left: 2em; }
.update-new               { background-color: yellow; padding: 0 .3em; }
h3 + h4                   { margin-top: .3em; }
.reftable                 { margin-top: 1em; }
.update hr                { border-top: 1px solid #ddd; max-width: 50em; font-size: 1rem; margin: 0; }
.update hr:before         { content: ""; }


/*** Loading indicator
 *********************/
@keyframes loading {
  0%   { content: "."; }
  50%  { content: ".."; }
  100% { content: "..."; }
}
/* TODO: See if we can have it sit in the margin */
.loading        { color: #777; }
.loading:hover  { color: #777; text-decoration: none; }
.loading::after { content: ""; animation: loading 500ms linear infinite; }


/* Force inputs to be 16px, so that iPhone won't zoom on select, which is
 * super annoying and 100% pointless.
 * https://stackoverflow.com/a/16255670/660921 */
@supports (-webkit-overflow-scrolling: touch) {
	input, select, textarea { font-size: 16px !important; }
}
