/* Copyright © 2019 Martin Tournoij <martin@arp242.net>
   This file is part of GoatCounter and published under the terms of the EUPL
   v1.2, which can be found in the LICENSE file or at http://eupl12.zgo.at */

.page    { padding: 1em; }
footer   { padding: 1em; text-align: center; background-color: #f6f3da; box-shadow: 0 0 4px #cdc8a4;
           display: flex; justify-content: space-between; }
footer a { font-weight: bold; color: #252525; }

/* Don't make various explanatory texts too wide. */
.page > p, .page > div > p, .page > ul, .page > div > ul { max-width: 50em; }

#trail-expired { position: fixed; bottom: 0; left: 0; right: 0; text-align: center;
                 background-color: #fff0f0; border-top: 1px solid #f00; }

#settings { display: none; }

.page, .center {
	/* .note has a width of 76mm plus 5mm margin on either side, so 86mm total
	 * width. .page has a 1em padding on either side.
	 * The last 10mm is needede because magic (1mm will work, this just looks
	 * more even). */
	max-width: calc((1em * 2) + (86mm * 4) + 10mm);
}

nav {
	display: flex;
	justify-content: space-between;
	padding-right: .5em;
}
nav .updates { font-weight: bold; background-color: yellow; }

h2 sup, h2 small {
	font-size: .9rem;
	font-weight: normal;
}

h3, h4     { margin-bottom: 0; }
h3+p, h4+p { margin-top: 0; }

form .err  { color: red; display: block; }

@media (min-width: 55rem) {
	.form-wrap form          { display: flex; flex-wrap: wrap; }
	.form-wrap form fieldset { width: 48%; }
}

.flash {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #fff;
	margin-bottom: 1em;
}
.flash p   { max-width: none !important; }
.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
.flash-i {
	background-color: #c9f0ff;
	border-color: #a1a1ff;
}
.flash-e {
	background-color: #fff0f0;
	border-color: #f00;
}


/*** Pages list ***/
.count-list td {
	vertical-align: top;
}
.count-list td.generated {
	font-style: italic;
}

.count-list td:first-child {  /* Count */
	text-align: right;
	width: 5em;
}
.count-list td[colspan="3"] {  /* "nothing to display" */
	text-align: left;
	width: auto;
}

.count-list td:nth-child(2) {  /* Path */
	width: 20em;
}
.count-list.count-list-refs td:nth-child(2) {
	width: auto;
	word-break: break-all; /* don't make it wider for very long urls */
}

/* Ideally I'd like the … to be in the centre, rather than at the end. Need JS
 * solution for that though :-/ */
.page-title, .rlink {
	display: inline-block; max-width: 17.5rem;
	text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
.rlink {
	min-width: 3em;   /* Make very short paths (like just /) easier to click/touch. */
}
.page-title b, .rlink b { background-color: yellow; }

.count-list tr {
	border: none;
}

.count-list tr:target,
.count-list tr.target {
	background-color: inherit;
}

.count-list tr:target > td:nth-child(2) .rlink,
.count-list tr.target > td:nth-child(2) .rlink {
	font-weight: bold;
	border-bottom: 4px solid yellow;
}

/*** Pages header (filter, time period select, etc.) ***/
.count-list-opt {
	padding: 1em;
	background-color: #f8f8d9;
	border: 1px solid #dede89;
	border-radius: 2px;
}

.period-day [value=day],
.period-week [value=week],
.period-month [value=month],
.period-quarter [value=quarter],
.period-half-year [value=half-year],
.period-year [value=year],
.period-all [value=all] {
	font-weight: bold;
	text-decoration: underline;
}

.count-list-opt input { width: 9em; text-align: center; }

/*** Charts ***/
.chart {
	border: 1px solid #ccc;
	height: 50px;
	margin: 5px 0;
	width: 100%;
	position: relative;
}
/* Add a bit extra space between the charts, mostly so it's clearer where the
 * .max belongs to when you're scrolled down. */
@media (min-width: 55rem) {
	.chart { margin-bottom: 1em; }
}

.chart > .top {
	font-size: 13px;
	line-height: 1;
	position: absolute;
	top: -1.2em;
}
.chart > .go  { left: .2em; }
.chart > .max { right: .2em; }

/* Bar char */
.chart-bar {
	display: flex;
}
.chart-bar > .half {
	border-top: 1px solid #ddd;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.chart-bar > div {
	position: relative;
	flex-grow: 1;
}

/* Chart colours
 * TODO: color scheme setting?
#77f / #99f
#db1212 / #6b1818
*/
.chart-bar > div > div, .chart-hbar span               { background-color: #9a15a4; }
.chart-bar > div:hover > div, .chart-hbar a:hover span { background-color: #b11abc; }

.chart-bar > div > div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	/*
	border: 1px solid #db1212;
	border-bottom: 0;
	background-color: #fff;
	*/

}
.chart-bar > div:hover       { background-color: #aaa; }

#popup {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	font-family: sans-serif;

	padding: 0 .5em;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#drag-box {
	position: absolute;

	background-color: #99f;
	opacity: .5;
}

.hide        { display: none; }
.show-mobile { display: none; }
@media (max-width: 55rem) {
	.hide-mobile { display: none; }
	.show-mobile { display: block; }
}

/* Using display: none means it's ignored by Safary when pressing Enter. */
.hide-btn { overflow: visible; height: 0; width: 0; margin: 0; border: 0; padding: 0; display: block; }

fieldset { margin-bottom: 1em; border: 1px solid #666; }
legend   { font-weight: bold; }

.active { font-weight: bold; text-decoration: underline; }

/* Break to new flexbox row. */
.flex-break { flex-basis: 100%; height: 0; }

table.auto { width: auto; }

.browser-charts       { display: flex; justify-content: space-between; }
.browser-charts > div { width: 32%; }
.browser-charts h2 small { float: right; font-variant-ligatures: none; font-feature-settings: 'liga' off, 'dlig' off; }

@media (max-width: 45rem) {
	.browser-charts       { display: block; }
	.browser-charts > div { width: auto; }
}

.chart-hbar a, .chart-hbar > p {
	position: relative;
	margin: 0;
	margin-bottom: .3em;
	display: block;
	font-size: 1rem;

	color: #252525;
}
.chart-hbar a:hover { text-decoration: none; color: #555; }
.chart-hbar small {
	display: block;
	font-size: 1rem;
}
.chart-hbar span {
	display: inline-block;
	color: #fff;
	padding: .1em .5em;

	/* So the text is readable if it's smaller than the chart.
	 * TODO: It's 'good enough' for now, but I am not too happy with this. */
	text-shadow: 2px 1px rgba(0, 0, 0, .5);
}

/* Don't make things appear clickable that aren't */
.chart-hbar > *[title^="(other): "],       .chart-hbar > *[title^="(unknown): "]       { cursor: default; font-style: italic; }
.chart-hbar > *[title^="(other): "]:hover, .chart-hbar > *[title^="(unknown): "]:hover { color: #252525; }
.chart-hbar > *[title^="(other): "]:hover span, .chart-hbar > *[title^="(unknown): "]:hover span { background-color: #9a15a4; }
.chart-hbar > *[title^="(other): "]:focus, .chart-hbar > *[title^="(unknown): "]:focus { outline: none; }

.tab-nav {
	padding: 1em;
	background-color: #f8f8d9;
	border: 1px solid #dede89;
	border-radius: 2px;
	justify-content: left;
}
.tab-nav a             { padding: 0 .9em; border-right: 1px solid #aaa; }
.tab-nav a:first-child { padding-left: 0; }
.tab-nav a:last-child  { border-right: none; padding-right: 0; }

noscript {
	display: block;
	padding: .4em;
	text-align: center;
	background-color: #ffcfcf;
	border-bottom: 1px solid #f88;
}


/*** Billing ***/
#billing-form .plan span            { display: inline-block; min-width: 8em; }
#billing-form fieldset legend+p     { margin-top: 0; }
#billing-form fieldset p:last-child { margin-bottom: 0; }


/*** Updates overview ***/
.update p        { margin-left: 2em; }
.update > em + p { margin-top: 0; }

/*** Pages header ***/
header h2 { border-bottom: 0; display: inline; }
header.h2 { border-bottom: 1px solid #252525; padding-bottom: .2em; margin: 1em 0; }

.header-pages sup         { font-size: .9rem; }
.header-pages input       { float: right; border: 1px solid #ccc; padding: .2em; margin-right: 1em; border-radius: 2px; }
.header-pages input.value { background-color: yellow; }
