/* Copyright © 2019 Martin Tournoij <martin@arp242.net>
   This file is part of GoatCounter and published under the terms of the AGPLv3,
   which can be found in the LICENSE file or at gnu.org/licenses/agpl.html */

.page  { padding: 1em; }
footer { text-align: right; padding-right: .5em; }

#settings { display: none; }

.page, .center {
	/* .note has a width of 76mm plus 5mm margin on either side, so 86mm total
	 * width. .page has a 1em padding on either side.
	 * The last 10mm is needede because magic (1mm will work, this just looks
	 * more even). */
	max-width: calc((1em * 2) + (86mm * 4) + 10mm);
}

nav {
	display: flex;
	justify-content: space-between;
	padding-right: .5em;
}

h2 sup {
	font-size: .9rem;
	font-weight: normal;
}

@media (min-width: 55rem) {
	.form-wrap form          { display: flex; flex-wrap: wrap; }
	.form-wrap form fieldset { width: 48%; }
}

.flash {
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #fff;
	margin-bottom: 1em;
}
.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
.flash-i {
	background-color: #c9f0ff;
	border-color: #a1a1ff;
}
.flash-e {
	background-color: #fff0f0;
	border-color: #f00;
}

.count-list td {
	vertical-align: top;
}
.count-list td.generated {
	font-style: italic;
}

.count-list td:first-child {  /* Count */
	text-align: right;
	width: 5em;
}

.count-list td:nth-child(2) {  /* Path */
	width: 20em;
}
.count-list.count-list-refs td:nth-child(2) {
	width: auto;
	word-break: break-all; /* don't make it wider for very long urls */
}

.count-list td:first-child,
.count-list td:nth-child(2) {
	/* Same as .chart, so it sits in middle when collapsed. */
	/* TODO
	height: 60px;
	vertical-align: middle;
	*/
}

.rlink {
	min-width: 3em;   /* Make very short paths (like just /) easier to click/touch. */
	max-width: 17.5em;
	display: inline-block;	

	/* TODO: ideally I'd like the … to be in the centre, rather than at the end.
	 * Need JS solution for that though :-/ */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.count-list tr {
	border: none;
}

.count-list tr:target,
.count-list tr.target {
	background-color: inherit;
}

.count-list tr:target > td:nth-child(2) .rlink,
.count-list tr.target > td:nth-child(2) .rlink {
	font-weight: bold;
	border-bottom: 4px solid yellow;
}

.count-list-opt {
	padding: 1em;
	background-color: #f8f8d9;
	border: 1px solid #dede89;
	border-radius: 2px;
}

.period-day [value=day],
.period-week [value=week],
.period-month [value=month],
.period-quarter [value=quarter],
.period-half-year [value=half-year],
.period-year [value=year],
.period-all [value=all] {
	font-weight: bold;
	text-decoration: underline;
}

.count-list-opt input {
	width: 8em;
	text-align: center;
}

.chart {
	border: 1px solid #ccc;
	height: 50px;
	margin: 5px 0;
	width: 100%;
	position: relative;
}
.chart > .max {
	color: #555;
	font-size: 12px;
	line-height: 1;
	position: absolute;
	background-color: #fff;
	left: .5em;
	top: -.5em;
	padding: 0 .3em;
	text-align: right;
}

/* Bar char */
.chart-bar {
	display: flex;
}
.chart-bar > .half {
	border-top: 1px solid #ddd;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.chart-bar > div {
	position: relative;
	flex-grow: 1;
}
.chart-bar > div > div {
	background-color: #db1212;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	/*
	border: 1px solid #db1212;
	border-bottom: 0;
	background-color: #fff;
	*/

}
.chart-bar > div:hover       { background-color: #aaa; }
.chart-bar > div:hover > div { background-color: #6b1818; }

#popup {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	font-family: sans-serif;

	padding: 0 .5em;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#drag-box {
	position: absolute;
	background-color: red;
	border: 1px solid blue;

	min-width: 4px;
	min-height: 4px;
}

.hide        { display: none; }
.show-mobile { display: none; }
@media (max-width: 55rem) {
	.hide-mobile { display: none; }
	.show-mobile { display: block; }
}

fieldset { margin-bottom: 1em; }
legend   { font-weight: bold; }
