<form method="post" action="/user/requestlogin" class="vertical">
	<label for="email">Email address</label>
	<input type="email" name="email" id="email" value="{{.Email}}" required><br>

	<label for="password">Password</label>
	<input type="password" name="password" id="password" required
		autocomplete="current-password"><br>
	<button>Sign in</button>
</form>

<p><a href="/user/forgot">Forgot password?</a></p>
