<!DOCTYPE html>
<html lang="en">
<head>
	{{template "_favicon.gohtml" .}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{if .GoatcounterCom}}{{.Site.Code}} – {{end}}GoatCounter</title>
	<link rel="stylesheet" href="{{.Static}}/all.min.css?v={{.Version}}">
	<link rel="stylesheet" href="{{.Static}}/pikaday.css?v={{.Version}}">
	<link rel="stylesheet" href="{{.Static}}/backend.css?v={{.Version}}">
</head>

<body id="page-{{.Path | path_id}}">
	<noscript>
		<p>GoatCounter requires JavaScript enabled to function well; please allow JavaScript to run from {{.StaticDomain}}.</p>
		<!--
		<p><small>For a rationale, see: <a href="https://arp242.net/noscript.html">https://arp242.net/noscript.html</a></small></p>
		-->
	</noscript>

	<nav class="center">
		{{- if .User.ID}}
			<div>
				{{if eq .Path "/"}}
					{{- if gt (len .SubSites) 1 -}}
						Sites:
						{{- range $i, $s := .SubSites -}}
							{{- if gt $i 0 -}}|{{- end -}}
							{{if $.GoatcounterCom}} <a{{if eq $s $.Site.Code}} class="active"{{end}} href="//{{$s}}.{{$.Domain}}{{$.Port}}">{{$s}}</a>
							{{else}} <a{{if eq $s (deref_s $.Site.Cname)}} class="active"{{end}} href="//{{$s}}{{$.Port}}">{{$s}}</a>
							{{- end -}}
						{{- end -}}
					{{- end -}}
				{{else if has_prefix .Path "/settings/sites/remove/"}}
					<strong id="back"><a href="/settings/sites">←&#xfe0e; Back</a></strong>
				{{else if has_prefix .Path "/settings/purge/confirm"}}
					<strong id="back"><a href="/settings/purge">←&#xfe0e; Back</a></strong>
				{{else if has_prefix .Path "/billing/"}}
					<strong id="back"><a href="/billing">←&#xfe0e; Back</a></strong>
				{{else}}
					<strong id="back"><a href="/">←&#xfe0e; Dashboard</a></strong>
				{{end}}
			</div>
			<div>
				{{if .GoatcounterCom}}<a href="/updates" class="{{if .HasUpdates}}updates{{end}} {{if eq .Path "/updates"}}active{{end}}">Updates</a> |{{end}}
				<a {{if eq .Path "/code"}}class="active" {{end}}href="/code">Site code</a> |
				{{if .User.AccessSettings}}<a {{if has_prefix .Path "/settings"}}class="active" {{end}}href="/settings">Settings</a> |{{end}}
				<a {{if has_prefix .Path "/user"}}class="active" {{end}}href="/user">User</a> |
				<form method="post" action="/user/logout">
					<input type="hidden" name="csrf" value="{{.User.CSRFToken}}">
					<button class="link">Sign out</button>
				</form>
			</div>
		{{else if .Site.Settings.Public}}
			<div style="margin-left: .3em;">
				{{if .Site.LinkDomain -}}
					Analytics for <a href="http://{{.Site.LinkDomain}}" target="_blank" rel="noopener">{{.Site.LinkDomain}}</a>.
				{{end}}
				The public view is updated once an hour{{if .User.Settings.Timezone}}; all times are in
				{{join .User.Settings.Timezone.Abbr ", "}} ({{.User.Settings.Timezone.OffsetDisplay}}){{end}}
			</div>
			<div id="signin"><a href="/user/new">Sign in</a></div>
		{{- end -}}
	</nav>

	<div class="page">
	{{- if .Flash}}<div class="flash flash-{{.Flash.Level}}">{{.Flash.Message}}</div>{{end -}}
