<form method="post" action="/user/totplogin" class="vertical">
	<input type="hidden" id="loginmac" name="loginmac" value="{{ .LoginMAC }}">
	<label for="totp_token">MFA Token</label>
	<input type="text" name="totp_token" id="totp_token"
		inputmode="numeric" pattern="[0-9]*"
		required autocomplete="one-time-code"><br>
	<button>Sign in</button>
</form>
