	</div> {{- /* .page */}}
	<footer class="center">
		<a href="https://www.goatcounter.com">GoatCounter</a> |
		<a href="https://github.com/zgoat/goatcounter">Source</a>
	</footer>
	<span id="settings">{{.Site.Settings.String | unsafe_js}}</span>
	<script src="//{{.Static}}/jquery.min.js?v={{.Version}}"></script>
	<script src="//{{.Static}}/script_backend.js?v={{.Version}}"></script>
</body>
</html>
