	</div>
	<script>window.settings = {{.Site.Settings.String | unsafe_js}}</script>
	<script src="//{{.Static}}/jquery.min.js?v={{.Version}}"></script>
	<script src="//{{.Static}}/script_backend.js?v={{.Version}}"></script>
</body>
</html>

