<form method="post" action="/user/requestlogin" id="request-login">
	<label for="email">Email address</label>
	<input type="email" name="email" id="email" value="{{.Email}}" required>
	<button>Sign in</button>
</form>
