<dl>
	<dt id="exceed-plan">What happens if I go over the monthly pageviews? <a href="#exceed-plan">§</a></dt>
	<dd>I’ll be in touch if you consistently go over the number over pageviews;
		there is no automated process to shut down accounts. It’s not a problem
		if you go over the pageviews in a single spike of traffic because you
		wrote something that got shared a lot. It’s a flexible limit within the
		bounds of reason.</dd>

	<dt id="max-pageviews">How does “maximum pageviews” work? <a href="#maximum-pageviews">§</a></dt>
	<dd>It’s the total amount of pageviews that can be stored for your site. The
		oldest pageviews will be deleted if you try to store more. There is no
		timelimit on pageviews: just a maximum total.<br><br>

		If you’ve reached the maximum amount of pageviews you will get an email where you can make a choice:
		<ol>
			<li>I’m okay with this, just delete older pageviews and stop bothering me.</li>
			<li>Update your plan.</li>
			<li>Manually delete older pageviews, which might be useful if you have a lot of “junk” data that’s not really needed.</li>
		</ol><br>

		It will keep sending you this email every week until you make a
		decision. If you haven’t done anything after a month then it will assume
		option 1.<br><br>

		New pageviews will never be rejected if you go over your limit. <br><br>

		The limits are calibrated as such:<br>
		<ul>
			<li>Free plan: two years at maximum pageviews.</li>
			<li>Starter and business plans: four years at maximum pageviews.</li>
		</ul><br>
		Many sites will never reach these limits, as they send far fewer than
		the maximum pageviews.</dd>

	<dt id="commercial">What is “Commercial Use”? <a href="#commercial">§</a></dt>
	<dd>A website is considered “commercial” if the primary goal is to sell or
		advertise paid products or services.<br><br>

		There is a large amount of grey area between strictly ‘personal’ and
		‘commercial’; for example selling a service as a side-project which
		provides just a little bit of pocket money is ‘commercial’, but also
		‘personal’. As a rule, things like “pocket-money side-projects” are
		considered personal, especially if they’re open source. Just get in
		touch if you’re unsure and I’ll tell you if it’s considered personal.
	</dd>

	<dt id="custom-domain2">What is the advantage of a custom domain? <a href="#custom-domain2">>§</a></dt>
	<dd>It’s just intended as a nice “vanity domain”; other than that there are
		no real technical advantages. It will <strong>not</strong> prevent adblockers
		from recognizing GoatCounter and this was never the intended use case.
		See <a href="/help#blocked">How do adblockers deal with GoatCounter?</a> for more details.
	</dd>

	<dt id="charity">Is there any discount for charities, non-profit organisations, startups, etc? <a href="#charity">§</a></dt>
	<dd>
		The short answer is ”not really”. The longer answer is that it depends
		on the individual case.<br><br>

		To give an example, Amnesty International is undoubtedly a charity doing
		great work, and I’d be honoured to facilitate that. But they also have a
		~€300 million/year income and asking them for €30/month so I can make a
		living seems reasonable to me, regardless of their charitable work.
		After all, people employed by Amnesty are getting paid too, and I also
		need to pay my rent, food, etc. 😅<br><br>

		Most charities don’t have the kind of endowment Amnesty has, so if
		you’re running a small charity, non-profit, or one-person startup where
		GoatCounter’s costs would be prohibitive then feel free to get in touch
		and we’ll see what we can arrange. Generally I’m pretty flexible.<br><br>

		I’ll be happy to revisit this policy once GoatCounter starts becoming
		financially sustainable, but right now it’s still quite far from that.
	</dd>
</dl>

