	<script src="//{{.Static}}/jquery.min.js?v={{.Version}}"></script>
	<script src="//{{.Static}}/imgzoom.js?v={{.Version}}"></script>
	<script src="//{{.Static}}/script.js?v={{.Version}}"></script>
</div> {{/* .page */}}
	<footer class="center">
		<a href="/">Home</a> |
		<a href="/help">Help</a> |
		<a href="/privacy">Privacy</a> |
		<a href="/terms">Terms</a> |
		<a href="https://github.com/zgoat/goatcounter" target="_blank">GitHub</a>
	</footer>
</body>
</html>
