<footer class="center cbox">
	<div>
		<a {{if .Site}}target="_blank" rel="noopener"{{end}} href="https://www.goatcounter.com">{{.T "nav-bot/home|Home"}}</a><span> |</span>
		<a href="{{.Base}}/contact"   >{{.T "nav-bot/contact|Contact"}}</a><span> |</span>
		<a href="{{.Base}}/help"      >{{.T "nav-bot/docs|Documentation"}}</a><span> |</span>
		<a href="{{.Base}}/contribute">{{.T "nav-bot/contribute|Contribute"}}</a>
	</div>
	<div>
		<a href="https://github.com/arp242/goatcounter"                target="_blank" rel="noopener">{{.T "nav-bot/src|Source code"}}</a><span> |</span>
		<a href="https://nlnet.nl/project/GoatCounter/"                target="_blank" rel="noopener">NLnet NGI0</a><span> |</span>
		<a href="https://github.com/sponsors/arp242"                   target="_blank" rel="noopener">GitHub sponsors</a><span> |</span>
		<a href="https://www.producthunt.com/posts/goatcounter"        target="_blank" rel="noopener">Product Hunt</a><span> |</span>
		<a href="https://alternativeto.net/software/goatcounter/about" target="_blank" rel="noopener">AlternativeTo</a>
	</div>
</footer>
