<div class="hchart" data-detail="/hchart-detail?kind=system" data-more="/hchart-more?kind=system">
	<h2>Systems</h2>
	{{template "_dashboard_warn_collect.gohtml" .IsCollected}}
	{{if .Err}}
		<em>Error: {{.Err}}</em>
	{{else}}
		{{horizontal_chart .Context .Stats .TotalUniqueUTC 6 true true}}
	{{end}}
</div>
