<div class="totals">
	<h2 class="full-width">Totals <small>
		<span>{{nformat .TotalUnique $.Site}}</span> visits;
		<span>{{nformat .Total $.Site}}</span> pageviews
	</small></h2>
	{{if .Err}}
		<em>Error: {{.Err}}</em>
	{{else}}
		<table class="count-list">{{template "_dashboard_totals_row.gohtml" .}}</table>
	{{end}}
</div>

