{{- $x := horizontal_chart .Context .Stats .TotalUniqueUTC (eq .Country "") true}}
{{- if .RowsOnly -}}
	{{- $x -}}
{{- else -}}
	<div class="hchart" data-widget="{{.ID}}">
		<h2>Locations{{if .Country}} for {{.CountryName}}{{end}}</h2>
		{{template "_dashboard_warn_collect.gohtml" .IsCollected}}
		{{if .Err}}
			<em>Error: {{.Err}}</em>
		{{else}}
			{{$x}}
		{{end}}
	</div>
{{- end -}}
