{{- $x := horizontal_chart .Context .Stats .TotalUnique (not .RowsOnly) true -}}
{{- if .RowsOnly -}}
	{{- $x -}}
{{- else -}}
	<div class="hchart" data-widget="{{.ID}}">
		<h2>{{t .Context "header/toprefs|Top referrers"}}</h2>
		{{template "_dashboard_warn_collect.gohtml" (map "IsCollected" .IsCollected "Context" .Context)}}
		{{if .Err}}
			<em>{{t .Context "p/error|Error: %(error-message)" .Err}}</em>
		{{else}}
			{{$x}}
		{{end}}
	</div>
{{- end -}}
