{{if not .IsCollected}}
	<div class="not-collected">
		{{t .Context "p/collect-disabled|Collecting this information is currently %[disabled in settings]."
			(tag "a" (printf `href="%s/settings/main#section-collect"` .Base))}}
	</div>
{{end}}

