<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" sizes="32x32" href="//{{.Static}}/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="//{{.Static}}/favicon/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="//{{.Static}}/favicon/apple-touch-icon.png">
<link rel="manifest" href="//{{.Static}}/favicon/site.webmanifest">
<link rel="mask-icon" href="//{{.Static}}/favicon/safari-pinned-tab.svg" color="#9a15a4">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="theme-color" content="#ffffff">
