<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GoatCounter – Website statistics for regular folks</title>
	<link rel="shortcut icon" href="//{{.Static}}/favicon.ico">
	{{/*<link rel="canonical" href="{{.Domain}}">*/}}
	<link rel="stylesheet" href="//{{.Static}}/all.min.css">
	<link rel="stylesheet" href="//{{.Static}}/style.css">
	<link rel="stylesheet" href="//{{.Static}}/style_backend.css">
	<link rel="stylesheet" href="//{{.Static}}/chartist.css">
</head>

<body>
	{{if .User.ID}}
		<div class="center" style="text-align: right">
			Signed in as {{.User.Name}} |
			<form method="post" action="/user/logout">
				<input type="hidden" name="csrf" value="{{.User.CSRFToken}}">
				<button class="link">Sign out</button>
			</form>
		</div>
	{{end}}

	<div class="page">
	{{if .Flash}}<div class="flash">{{.Flash}}</div>{{end}}
