<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{.MetaDesc}}">
	<title>GoatCounter – Website statistics for regular folks</title>
	<link rel="icon" type="image/png" href="//{{.Static}}/favicon.png">
	<link rel="apple-touch-icon" href="//{{.Static}}/apple-touch-icon.png">
	<link rel="stylesheet" href="//{{.Static}}/all.min.css?v={{.Version}}">
	<link rel="stylesheet" href="//{{.Static}}/style.css?v={{.Version}}">
	<link rel="canonical" href="https://{{.Domain}}{{if ne .Page "home"}}/{{.Page}}{{end}}">
</head>

<body>
	<div class="page page-{{.Page}}">
	{{- if .Flash}}<div class="flash flash-{{.Flash.Level}}">{{.Flash.Message}}</div>{{end -}}
