<nav class="tab-nav">
	<a class="{{if eq .Path "/user/pref"}}active{{end}}"      href="/user/pref">Preferences</a>
	<a class="{{if eq .Path "/user/dashboard"}}active{{end}}" href="/user/dashboard">Dashboard</a>
	<a class="{{if eq .Path "/user/auth"}}active{{end}}"      href="/user/auth">Password & MFA</a>
	<a class="{{if eq .Path "/user/api"}}active{{end}}"       href="/user/api">API</a>
</nav>
<p>These settings take effect for all the sites you have access to.</p>
