{{template "_backend_top.gohtml" .}}

<h1>Site code</h1>
<p>Insert the code below to add GoatCounter to a site, ideally just before the
closing <code>&lt;/body&gt;</code> tag (but anywhere, such as in the
<code>&lt;head&gt;</code> will work):</p>
{{template "_backend_sitecode.gohtml" .}}

{{template "_backend_bottom.gohtml" .}}
