{{template "_backend_top.gohtml" .}}

<h2>Admin</h2>

<table>
	<tr><td>Total</td><td>{{nformat2 .Stat.CountTotal $.Site}}</td></tr>
	<tr><td>Last month</td><td>{{nformat2 .Stat.CountLastMonth $.Site}}</td></tr>
	<tr><td>Previous month</td><td>{{nformat2 .Stat.CountPrevMonth $.Site}}</td></tr>
	</tr>
</table>

<pre>{{pp .Stat.Site}}</pre>
<pre>{{pp .Stat.User}}</pre>

{{template "_backend_bottom.gohtml" .}}
