{{template "_backend_top.gohtml" .}}

<h2>Admin</h2>

<table>
	<tr><td>Total</td><td>{{.Stat.CountTotal | nformat}}</td></tr>
	<tr><td>Last month</td><td>{{.Stat.CountLastMonth | nformat}}</td></tr>
	<tr><td>Previous month</td><td>{{.Stat.CountPrevMonth | nformat}}</td></tr>
	</tr>
</table>

<pre>{{pp .Stat.Site}}</pre>
<pre>{{pp .Stat.User}}</pre>

{{template "_backend_bottom.gohtml" .}}
