{{template "_backend_top.gohtml" .}}

<h1>Site code</h1>
<p>To add Goatcounter to a site insert the code below just before the closing
<code>&lt;/body&gt;</code> tag:</p>
{{template "_backend_sitecode.gohtml" .}}

{{template "_backend_bottom.gohtml" .}}
