{{template "_backend_top.gohtml" .}}

<p>Cancel your plan immediately; you will be refunded for the remaining billing
period. You can also use this towards paying for a new plan if you subscribe
within a day orso.</p>

<form method="post" action="/billing/cancel">
	<input type="hidden" name="csrf" value="{{.User.CSRFToken}}">
	<button class="link" type="submit">Cancel</button>
</form>

{{template "_backend_bottom.gohtml" .}}
