{{template "_backend_top.gohtml" .}}

<ul>
<li><a href="/bosmang/cache">Cache</a></li>
<li><a href="/bosmang/profile">Profile</a></li>
{{if .GoatcounterCom}}
<li><a href="/bosmang/sites">Sites</a></li>
{{end}}
</ul>

{{template "_backend_bottom.gohtml" .}}
