{{template "_top.gohtml" .}}

<h1>Contribute financially</h1>
<p>Servers aren't free, and running goatcounter.com isn't free either. Please
consider contributing on <a href="https://github.com/sponsors/arp242">GitHub
sponsor</a>. You can do a one-time contribution or set up a recurring monthly
contribution.</p>

{{template "_bottom.gohtml" .}}
