<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GoatCounter – Error!</title>
	<style>h1 { text-align: left; }</style>
</head>

<body>
	<div class="page">
		<h1>Error {{.Code}}</h1>
		<p>{{.Error}}</p>
	</div>
</body>
</html>
