{{template "_top.gohtml" .}}

<h1>GoatCounter help</h1>
<p>Email <a href="mailto:support@goatcounter.com">support@goatcounter.com</a>
	for further questions.</p>

<h2>FAQ</h2>
<dl>
	<dt>I don’t see my pageviews?</dt>
	<dd>For reasons of efficiency the statistics are updated once every minute.</dd>
</dl>

{{template "_bottom.gohtml" .}}
