{{- template "_backend_top.gohtml" . -}}

<style>
.l     { display:flex; gap:1rem; }
.l pre { width:50%; }
</style>

{{range $f := .Files}}
	<b>{{$f.Name}} – {{substr $f.Updated 0 10}}</b>
	<div class="l">
		<pre>{{$f.File.TOML}}</pre>
		<pre>{{if $f.Diff}}{{$f.Diff}}{{else}}Identical{{end}}</pre>
	</div>
{{end}}

{{- template "_backend_bottom.gohtml" . }}
