{{template "_top.gohtml" .}}

<h1>Privacy</h1>

<p>Note: this only covers the GoatCounter service.</p>

<p>The following information is collected:</p>
<ul>
	<li>URL of the visited page.</li>
	<li><code>Referer</code> header.</li>
	<li><code>User-Agent</code> header.</li>
</ul>

<p>GoatCounter does not share this data with any third party.</p>


{{template "_bottom.gohtml" .}}
