<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" sizes="32x32" href="data:image/png;base64,
		iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
		AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAB+1BMVEWaFaQAAACaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSa
		FaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaSaFaT///9u4oXyAAAAp3RSTlMAAAEcYarb
		9f766MSJQg0MbdD577oU9v37xlcJaeqQZHmr3/yjKBOL7OedPh5nxdZRAwQ4nPGvTAgR1+52NJXm
		94QCJZ/4jw8thuXHDukSI897SxWaOtGXM4cHBsIhNdRs0zBA607t4UFUQ+JVcrMx1WuZgRu/giBg
		w0dK9JixPx+8phebdXcYN/B92SxJ3oVYqZPSWRkaUytoocunECZufnAkfAWyLqSwqTQAAAABYktH
		RKhQCDaSAAAAB3RJTUUH5AEYEwUtzwQQ7QAAAhZJREFUOMt9k/tfy3EUxp/Pir6btFK2aUoaKSRd
		CammVYrEUjHlEoVIyCVyL3LNZe736/vf9EPb6rsfOj+/X+c553nOkRwpqYsWp1lO15L0pRmSSSq5
		M7OWMVtWdk7q8mREqR4Ar88CwLci129HtNIJkJe/qmB1YQDwrFlrI1S0rhiwStZvcG8s3eQEyjaX
		zyOkisqqPIDqmi1ba0u3Adt3+OcIGaOKup31AA2NQe1qaoBQc0tCRsYYo/LW3W1A+x7Jn7kXAlUd
		cUIxoX2d4NvvkJHjwGLwNtXagXANWF1uGWOkg93g7cnQPAl3lwU14Xi73k7wHTqsOKBIow+O9CVk
		1X8UPMccim0RzEyD4yfm/JEGCuHkKckYGSl3EIZOy+bOmUEoa5WMpLPDUHwuKYHg+RCMdMhIF0Yh
		7WIwOUT/JfBeDkpjV8B5NSJjpGvXK4OJQcfGYfCGdHMC69asAe7bDPUmLNadEhhP0d17E/fDkjFG
		D8pg0j9HTAUIPJQe9ceSUbAHQvljCTumH2M9se3W+hS8WVPP/JIxUgG01dmOR89fAJYrZ+bldF/R
		WDu8iti31+vY/Qaqh990hvBFk+x52w3DLot4jb6z36eiPjzvP3z89Lne4wWYkR2o+ALttVLw67eB
		6Pcf6T/DMjbg1xD8TvocGxANkD2dHMr8EZqhvWUB4M8ITGoBIPIXChYCFHVl/Uv+//8tzq+CNmFi
		eAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMS0yNFQxOTowNTo0NSswMTowMEkOXAgAAAAldEVY
		dGRhdGU6bW9kaWZ5ADIwMjAtMDEtMjRUMTk6MDU6NDUrMDE6MDA4U+S0AAAAV3pUWHRSYXcgcHJv
		ZmlsZSB0eXBlIGlwdGMAAHic4/IMCHFWKCjKT8vMSeVSAAMjCy5jCxMjE0uTFAMTIESANMNkAyOz
		VCDL2NTIxMzEHMQHy4BIoEouAOoXEXTyQjWVAAAAAElFTkSuQmCC
	">
	<title>GoatCounter – open source web analytics</title>
<style>
	:root {
		--text:              #252525;
		--bg:                #fff;
		--header-border:     var(--text);                      /* Border below some headers */
		--backdrop:          #eee;
		--target-bg:         #ff6;                             /* :target; for highlighting search results and headers in the documentation. */
		--loading-text:      #777;                             /* Little … that appears if something takes more than ~300ms to load */

		--link:              #00f;                             /* <a> */
		--link-hover:        #6491ff;

		--input-text:        var(--text);                      /* <input>, <select> */
		--input-bg:          var(--bg);
		--input-border:      #bbb;
		--input-focus:       #00f;                             /* Outline for focused inputs etc. */
		--fieldset-border:   #666;                             /* Border around setting boxes on the settings page */
		--form-error-text:   red;
		--input-error-border: red;

		--btn-text:          var(--text);                      /* <button> */
		--btn-bg:            linear-gradient(#f6f5f4, #edebe9);
		--btn-border:        #e9e9e9;                          /* Default border style */
		--btn-border-outset: #ccc;                             /* Top and left styles for "3D" effect */
		--btn-hover-bg:      linear-gradient(#f0f0f0, #d0cecc);
		--btn-active-bg:     linear-gradient(#d0cecc, #f0f0f0);

		--code-text:         #000;                             /* <code>, <pre>, etc. */
		--code-bg:           #f5f5f5;
		--code-border:       #d5d5d5;                          /* <pre> only */

		--error-bg:          #fff0f0;
		--error-border:      #f00;
	}
	html { font: 16px/150% 'Lato', sans-serif; text-size-adjust: none; -webkit-text-size-adjust: none;
		background-color: var(--backdrop); color: var(--text); tab-size: 4; }
	body { margin: 0 auto; }
	.page          { padding: 1rem 4rem; background-color: var(--bg); box-shadow: 0 0 6px rgba(0,0,0,.2); }
	.page, .center { max-width: 60em; }

	form { display: inline; margin: 0; padding: 0; }
	label                { display: block; margin-top: .5em; }
	input {
	display: block;
	min-width: 20rem;
	padding: .6em;
	border: 1px solid var(--input-border);
	border-radius: 3px;

		font: 1em/100% 'Lato', sans-serif; color: var(--input-text); background-color: var(--input-bg);
	}

	button {
	padding: .6em;
	border: 1px solid var(--input-border);
	border-radius: 3px;
	cursor: pointer; margin-left: .5em; padding: .6em 1.5em; color: var(--btn-text); background: var(--btn-bg);
	border-radius: 3px; border: 1px outset var(--btn-border);
	border-top-color: var(--btn-border-outset); border-left-color: var(--btn-border-outset); }

	.help { font-size: 14px; margin-bottom: 1.2em; color: #555;}

	.flash     { margin-bottom: 1em; padding: 10px; border-radius: 2px; border: 2px solid var(--bg); }
	.flash p   { max-width: none !important; }
	.flash pre { text-align: left; margin: 0 auto; display: inline-block; }
	.flash-e   { background-color: var(--error-bg); border-color: var(--error-border); }

	pre, code            { font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Consolas', monospace; }
	code, pre, kbd, samp { background-color: var(--code-bg); color: var(--code-text); }
	code, kbd, samp      { padding: 1px 2px; }
	pre                  { font-size: 14px; line-height: 130%; overflow: auto; max-height: 500px; padding: .5em 1em;
						border-radius: 2px; border-top: 1px solid var(--pre-border); border-bottom: 1px solid var(--pre-border); }
	pre > code           { padding: 0; box-shadow: none; border: none; }
</style>
</head>
<body class="page">

<h1>Create your first site and user</h1>
<p>You will need to setup at least one site and user before you can start using GoatCounter.</p>
<p>This can also be done from the commandline with:<p>
<pre>goatcounter db create site -vhost=.. -user.email=..</pre>

{{if or .Error .Validate.HasErrors}}<div class="flash flash-e">{{.Validate.HTML}}{{.Error}}</div>{{end}}

<form method="POST" action="{{.Base}}/">
	<fieldset>
	<label for="email">Email</label>
	<input type="email" name="email" id="email" value="{{.Email}}">
	<span class="help">Used to login.</span>

	<label for="password">Password</label>
	<input type="password" name="password" id="password">

	<label for="password2">Password (verify)</label>
	<input type="password" name="password2" id="password2">

	<label for="vhost">Your site domain (optional)</label>
	<input type="text" name="vhost" id="vhost" value="{{.Cname}}">
	<span class="help">The domain on which GoatCounter will be accessible; for example <code>stats.example.com</code>.<br>
	Only needed if you plan to use GoatCounter on more than one site; it can always be changed later.</span>
	<br><br>
	<button>Create</button>
	</fieldset>
</form>

</body>
</html>
