{{template "_top.gohtml" .}}

<h1 id="translating-goatcounter">Translating GoatCounter</h1>
<p>To translate GoatCounter you need to login in to your account and go to
`/i18n`; there's a link in the user settings next to the language field as well.
Here you can edit/update existing translations or add new ones; further
instructions are on that page.</p>

<p>Current translations:</p>
<ul>
	<li>Dutch</li>
	<li>Turkish</li>
</ul>

{{template "_bottom.gohtml" .}}
