{{template "_top.gohtml" .}}

<h1>Forgot domain</h1>
<p>Email a list of all domains associated with an email address.</p>

<form method="post" action="/user/forgot">
	<label for="email">Email address</label>
	<input type="email" name="email" id="email" required>
	<button>Send login URL</button>
</form>

{{template "_bottom.gohtml" .}}
