{{template "_backend_top.gohtml" .}}

<div class="auth-shell">
	<div class="auth-card">
		<h1>{{.T "header/sign-in-at|Sign in at %(name)" (.Site.Display .Context)}}</h1>
		{{template "_backend_signin.gohtml" .}}
	</div>
</div>

{{template "_backend_bottom.gohtml" .}}
