{{template "_backend_top.gohtml" .}}

<h1>Reset password for {{.User.Email}} at {{.Site.Code}}</h1>
<form method="post" action="/user/reset/{{.Key}}" class="vertical">
	<label for="password">New password</label>
	<input type="password" name="password" id="password" required><br>

	<label for="password2">New password (confirm)</label>
	<input type="password" name="password2" id="password2" required><br>

	<button>Reset password</button>
</form>

{{template "_backend_bottom.gohtml" .}}

