{{template "_top.gohtml" .}}

<h1>{{.T "header/forgot-password|Forgot password"}}</h1>

<form method="post" action="{{.Base}}/user/request-reset" class="vertical">
	<label for="email">{{.T "label/email-address|Email address"}}</label>
	<input type="email" name="email" id="email" value="{{.Email}}" required><br>

	<button>{{.T "button/request-reset|Request password reset"}}</button>
</form>

{{template "_bottom.gohtml" .}}
